* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#note {
  max-width: 76vw;
  height: 36vh;
  background-color: black;
  margin: 1em auto;
}

.header {
  /* display: flex; */
}

a {
  display: block;
  color: white;
  text-decoration: none;
  text-align: right;
  padding: 0.3em;
}

.container {
  max-width: 60%;
  background-color: rgb(241, 209, 216);
  color: brown;
  margin: 1em auto;
  padding: 1em;
  border: 1px solid rgb(175, 103, 103);
}

h2 {
  text-align: center;
  margin-bottom: 0.3em;
}
