* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 36vw;
  background-color: rgb(228, 183, 183);
  color: black;
  text-align: center;
  padding: 1em;
  margin: 1em auto;
}

input {
  display: block;
  margin: 0.3em auto;
  padding: 0.3em;
}

.tip {
  color: rgb(156, 77, 77);
}

.warning {
  color: blueviolet;
}
